$color-white: #FFFFFF;
$color-red: #EB2327;
$color-pink: #B04E94;
$color-yellow: #F3A21D;
$color-blue: #1180B7;
$color-green: #1AA99C;
$bg-color: #f5f5f5;
$text-color: #545555;
$color-light-black: #281c24;
$color-black: #000;