@import "colors";

html {
    font-size: 62.5%;
}

body {
    max-width: 106.7rem;
    //max-height: 186.4rem;
    box-sizing: border-box;
    font-family: "Graphik Web Regular Italic";
    line-height: 3rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: $text-color;
}

main {

    background-color: $bg-color;

    .color-strip {

        height: 1.3rem;
        display: flex;

        .red {
            flex: 1.8;
            background-color: $color-red;
        }

        .yellow {
            flex: 1.6;
            background-color: $color-yellow;
        }

        .pink {
            flex: 1.4;
            background-color: $color-pink;
        }

        .blue {
            flex: 1.1;
            background-color: $color-blue;
        }

        .green {
            flex: 1;
            background-color: $color-green;
        }
    }

    .header-part {
        .header-content {
            padding: 4rem 8rem 0 8rem;
            position: relative;

            .left-triangle {
                width: 0;
                height: 0;
                border-left: 2.5rem solid $color-yellow;
                border-top: 2.5rem solid $color-yellow;
                border-bottom: 2.5rem solid transparent;
                border-right: 2.5rem solid transparent;
                position: absolute;
            }

            .heading-designation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                padding: 4rem;

                .heading {
                    font-size: 3.5rem;
                    color: $color-black;

                    span {
                        font-family: sans-serif;
                        font-weight: 700;
                    }
                }

                .designation {
                    font-size: 2.2rem;
                    color: $text-color;
                }
            }


            .right-triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 2.5rem;
                border-color: transparent $color-yellow $color-yellow transparent;
                top: 15.4rem;
                left: 88%;
            }


        }
    }

    .text-container {

        .container {
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            padding: 0 13rem 0 8rem;

        }
    }

    .img-text-content {
        position: relative;
        top: 5rem;

        .left-triangle {
            width: 0;
            height: 0;
            border-left: 2.5rem solid $color-red;
            border-top: 2.5rem solid $color-red;
            border-bottom: 2.5rem solid transparent;
            border-right: 2.5rem solid transparent;
            position: absolute;
            left: 7.3%;

        }

        .container {
            display: flex;
            gap: 5rem;
            padding: 5rem 10rem 5rem 12rem;

            .profile-img {
                h4 {
                    font-size: 1.8rem;
                    position: relative;
                    left: 1rem;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                font-size: 1.8rem;
                gap: 2rem;
            }
        }
    }

    .red-black-container {
        background-color: $color-red;
        position: relative;
        top: 5rem;

        .black-container {
            width: 83.6rem;
            background-color: $color-light-black;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-content {
                font-size: 2.1rem;
                color: $color-white;
                padding: 0 0 0 8rem;
                line-height: 3rem;
            }

            .trekking-img {
                width: 25rem;
                height: 34rem;

                position: relative;
                left: 12rem;
                padding: 2.5rem 0;
            }
        }
    }

    .btn-regards-container {
        position: relative;
        top: 5rem;

        .content {
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            padding: 4rem 4rem 4rem 8rem;

            .regards {
                font-family: sans-serif;
                font-weight: bold;
            }

            button {
                padding: 1.5rem;
                font-size: 1.8rem;
                background: $color-red;
                color: $color-white;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
    }

    footer {
        background-color: $color-black;
        position: relative;
        top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
    }
}