@import "colors";

html {
    font-size: 62.5%;
}

body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    width: 100.7rem;
    height: 170.9rem;
    background-color: $bg-color;
}

.colorstrip {
    width: 100.7rem;
    height: 1rem;
    display: flex;

    .red {
        width: 98rem;
        background-color: $color-red;
    }

    .yellow {
        width: 94rem;
        background-color: $color-yellow;
    }

    .pink {
        width: 90rem;
        background-color: $color-pink;
    }

    .blue {
        width: 86rem;
        background-color: $color-blue;
    }

    .green {
        width: 84rem;
        background-color: $color-green;
    }
}


.first-container {
    width: 89rem;
    height: 14.7rem;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .heading {
        p {
            font-size: 3.5rem;
        }
    }

    .designation {
        margin-top: -4rem;
        text-align: center;
        font-size: 2.2rem;
        color: $text-color;
    }
}

.second-container {
    color: $text-color;
    font-size: 1.8rem;
    padding: 0 4.4rem 4.5rem 4.4rem;
    text-align: justify;

    div {
        position: relative;
        height: 7rem;
    }
}

.third-container {
    color: $text-color;
    font-size: 1.8rem;
    padding: 3.5rem 0rem 4.4rem 4.4rem;
    display: flex;
    margin: 3rem;

    div {
        height: 10rem;
    }

    .img-container {
        img {
            width: 21.9rem;
            height: 21.2rem;
        }
    }

    .right-container {
        padding: 0 0 0 4.5rem;
    }
}

.fourth-container {
    margin-top: 13rem;
    width: 100.67rem;
    height: 40.3rem;


    .black-container {
        width: 78.6rem;
        background-color: $color-black;
        height: 40.3rem;

        .black-container-content {
            font-size: 2.1rem;
            color: $color-white;
            padding: 12rem 24rem 12rem 8rem;
            text-align: justify;
        }
    }
}